//
// The Butcher's Market variables
// --------------------------------------------------
// Variable overrides for Bootstrap and site variables

//== Colors
//

@brand-primary:           #cc1433;
@brand-secondary:         #333;

@bm-gray-light:           #ccc;
@bm-gray-lightest:        #f0f0f0;

//== Heights
//

@height-lg:                96px;
@height-md:                72px;
@height-sm:                48px;
@height-xs:                24px;
@height-xxs:               12px;

//== Buttons
//

@btn-default-color:       #fff;
@btn-default-bg:          @brand-secondary;

@btn-primary-color:       #fff;
@btn-primary-bg:          @brand-primary;

//== Navbar
//

@navbar-height:           @height-md;
@navbar-default-color:    #777;
@navbar-default-bg:       #f8f8f8;
