<section class="butcher-features">
  <div class="container">
    <header>
      <h2 class="stripe"><span>Featured Specials</span></h2>
    </header>
    <div class="row">
      {{#each features}}
        {{> feature}}
      {{/each}}
    </div>
  </div>
</section>
