<section class="butcher-features">
  <div class="container">
    <header>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="stripe"><span>Featured Specials</span></h2>
        </div>
      </div>
    </header>
    <div class="row">
      {{#each features}}
        {{> feature}}
      {{/each}}
    </div>
  </div>
</section>
