<section>
  <div class="container">
    <header>
      <h2 class="stripe"><span>Feedback</span></h2>
    </header>
    <div class="row">
      <div class="col-sm-6">
        <div id="feedback-messages" class="hidden">
          <div class="alert"></div>
        </div>
        <form id="feedback-form" action="{{assets}}/feedback.php" method="post" class="form-horizontal feedback-form">
          <div class="form-group">
            <input type="text" id="feedback_name" name="feedback_name" placeholder="Your Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="email" id="feedback_email" name="feedback_email" placeholder="Your E-mail" class="form-control">
          </div>
          <div class="form-group">
            <textarea id="feedback_message" name="feedback_message" cols="30" rows="7" placeholder="Your message" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <div id="recaptcha" class="g-recaptcha" data-sitekey="6LcrHAITAAAAACvTiT4qS4dvbwL7wgGRXhJtsKim"></div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default feedback-btn">Send</button>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <h3 class="color-primary">Contact Us</h3>
        <p>We welcome any feedback or questions you may have big or small!</p>
        <p>Note: This form is not intended for placing orders or for inquiries needing immediate response. Your information is not shared with any third party and will only be used for our communications with you. If you need immediate assistance, call us at (706) 279-9277.</p>
      </div>
    </div>
  </div>
</section>
