<section class="main-header">
  <nav class="navbar navbar-default main-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation-items" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">
          <img src="{{assets}}/images/butchers-market-logo.png" alt="The Butcher's Market logo">
        </a>
        <a href="#" class="navbar-brand">
          <img src="{{assets}}/images/blues-street-logo.png" alt="Blues Street Cafe logo">
        </a>
      </div>
      <div id="main-navigation-items" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Meat</a></li>
          <li><a href="#">Deli</a></li>
          <li><a href="#">Dining Menu</a></li>
          <li><a href="#">Beverage</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>
