<section class="newsletter" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-180">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="newsletter-messages"></div>
      </div>
      <div class="col-md-6">
        <h2>Sign up for our newsletter!</h2>
      </div>
      <div class="col-md-6">
        <form action="{{assets}}/newsletter" class="form-inline newsletter-form">
          <div class="form-group">
            <label for="emailAddress" class="sr-only">Email</label>
            <input type="email" name="emailAaddress" id="emailAaddress" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
