<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body data-spy="scroll" data-target=".navbar-collapse" data-offset="76">
    {{> nav-main }}

    {{> body }}

    {{> footer }}

    {{> javascripts }}
  </body>
</html>
